APP_NAME=Choyxona
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.uz

APP_LOCALE=uz
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=uz_UZ

LOG_CHANNEL=stack
LOG_LEVEL=error

# MySQL uchun:
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=choyxona
DB_USERNAME=choyxona
DB_PASSWORD=

# SQLite uchun yuqoridagilarni o'chirib, faqat shuni qoldiring:
# DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=480
QUEUE_CONNECTION=sync
CACHE_STORE=file


# Boshqaruv paneli (/admin) kirish ma'lumotlari
ADMIN_LOGIN=admin
ADMIN_PASSWORD=
ADMIN_NAME=Administrator
